@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.logo h1 {
    color: #fff;
}

.user-actions {
    display: flex;
    align-items: center;
}



.user-actions .btn {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/pexels-thgusstavo-1813272.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 150px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.search-container {
    position: relative;
    width: 560px;
}

.search-bar {
    position: relative;
}

.search-bar input {
    padding: 15px 15px 15px 40px;
    height: 47px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.search-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #c1c2d3;
    font-size: 20px;
}

.filter-options {
    display: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.filter-header {
    font-size: 14px;
    font-weight: bold;
    color: #737373;
    margin-bottom: 10px;
    padding-right: 260px;
    width: 100%;
    box-sizing: border-box;
}

.filter-item {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    z-index: 8;
}


.form-popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-left: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .btn {
    background-color: #6495ED;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.form-container .cancel {
    background-color: #4682B4;
}

.login-text {
    font-size: 16px;
    text-align: center;
}

.login-text a {
    font-size: 14px;
    color: #4682B4;
    text-decoration: none;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

#toggleText {
    font-weight: bold;
}

.botao-log {
    width: 250px;
    height: 40px;
    background-color: #2196F3;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.botao-log p{
    margin-top: 10px;
    font-size: 14px;
}
